.banner {
	background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%),url(../../images/banner.jpg);
	color:white;
	box-shadow: 3px 3px 3px rgba(77,80,97,0.15);
	padding: 10px 0px;
	background-size: cover;
	background-position: center;


}

.banner h1{
	font-size: 50px;
	text-align: center;
}

.banner h2{
	font-size: 25px;
	font-weight: lighter;
	margin-top:60px;
	margin-bottom: 40px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: justify center;
}


